@media screen and (max-width: 1100px) 
{
    .header 
    {
        flex-direction: column;
    }
    
    .header-left
    {
        width: 100%;
        height: 100%;
        padding: 0 30px;
        /* animation: fadein 2s; */
    }

    .menu-toggle-container
    {
        display: flex;
    }

    .header-right
    {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        position: absolute;
        top: 60px;
        padding: 0;
        overflow-y: auto;
        display: none;
        transition: all 2s ease;
        background-color: #ffffff;
        backdrop-filter: blur(5px);
        /* animation: fadein 1s; */
    }

    .menubar-container
    {
        width: 100%;
        height: 100%;
    }

    .menubar-container ul
    {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .menubar-container ul li
    {
        width: 100%;
        height: auto;
        /* min-height: 50px; */
        justify-content: flex-start;

    }

    .menubar-container ul li a
    {
        min-height: 50px !important;
        display: flex;
        justify-content: flex-start;
        color: #000;

    }

    .menubar-container ul li:hover > a
    {
        background-color: #000;
        color: #ffffff !important;

    }

    .has-submenu
    {
        display: flex;
        flex-direction: column;
        transition: height 2s ease;
    }

    .has-submenu ul
    {
        position: static;
        top: 0;
        background-color: #ffffff00;
    }

    .has-submenu a
    {
        justify-content: space-between !important;
        min-height: 50px !important;
    }

    .has-submenu ul
    {
        height: auto;
    }

    .has-submenu ul li
    {
        height: auto;
        min-height: 50px !important;
    }

    .has-submenu ul li a
    {
        padding: 0 30px;
    }

    .has-submenu ul li:hover a
    {
        background-color: #000;
        color: #fff;
    }

    .active > a
    {
        color: #000000 !important;
    }


    @keyframes in 
    {
        from
        {
            transform: translateX(-100%);
        }
        to   
        { 
            transform: translateX(0);
        }
    }

    @keyframes out
    {
        from
        {
            transform: translateX(0);
        }
        to   
        { 
            transform: translateX(100%);
        }
    }

    .quotes span
    {
        color: #fff;
        font-size: 50px;
        text-align: center;
        font-family: EB Garamond !important;
        font-style: italic;
        font-weight: 400;
        padding: 0 210px;
    }

    .my-life-philosophy-content
    {

        flex-direction: column;
        align-items: center;
    }

    .my-life-philosophy
    {
        height: auto;
        min-height: 100vh;
    }

    .my-life-philosophy-card
    {   
        width: max-content;
        border-right: none;
        border-left: 2px solid #ffffff;
        margin: 15px 0;
    }
    
    .philosophy-para b
    {
        font-size: 25px;
        font-family: EB Garamond;
        font-weight: 500;
    }
    
    .philosophy-para span
    {
        font-family: EB Garamond;
        font-size: 20px;
    }

    .about-me-content
    {
        width: 100% !important;
        height: auto;
        color: #fff;
        padding: 20px 20px !important;
    }

    
    /* code for career width logo and text  */

    .logo-text 
    {
        padding: 50px 25px !important;
    }

    .text p
    {
        font-size: 20px !important;
        line-height: 2rem;
        font-family: GB Garamond !important;
    }

    /* code for my book  */
    .book-image
    {
        width: 40% !important;
    }

    .book-content
    {
        width: 60% !important;
    }  

    /* code for blogs page  */
    .blogs-list-container
    {
        padding: 20px 60px !important;
    }

    .blog-list 
    {
        padding: 20px 20px !important;
    }

    /* code for travel  */
    .travel-page 
    {
        grid-template-columns: repeat(2, 1fr) !important;
    }

}